<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <!-- 时间单位为分钟 -->
        <session-timeout>30</session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>

    <!--  访问 event.jsp 前判断是否登录  -->
    <servlet>
        <servlet-name>jlEvent</servlet-name>
        <servlet-class>servlet.JudgeLoginEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jlEvent</servlet-name>
        <url-pattern>/JudgeLoginEventServlet</url-pattern>
    </servlet-mapping>

    <!--  前台展示 event 数据  -->
    <servlet>
        <servlet-name>showEvent</servlet-name>
        <servlet-class>servlet.ShowEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showEvent</servlet-name>
        <url-pattern>/ShowEventServlet</url-pattern>
    </servlet-mapping>

    <!--  向数据库中插入 event 数据  -->
    <servlet>
        <servlet-name>insertEvent</servlet-name>
        <servlet-class>servlet.InsertEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertEvent</servlet-name>
        <url-pattern>/InsertEventServlet</url-pattern>
    </servlet-mapping>

    <!--  根据 id 删除 event 数据  -->
    <servlet>
        <servlet-name>deleteEvent</servlet-name>
        <servlet-class>servlet.DeleteEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteEvent</servlet-name>
        <url-pattern>/DeleteEventServlet</url-pattern>
    </servlet-mapping>

    <!--  根据 id 修改 event 数据  -->
    <servlet>
        <servlet-name>editEvent</servlet-name>
        <servlet-class>servlet.EditEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editEvent</servlet-name>
        <url-pattern>/EditEventServlet</url-pattern>
    </servlet-mapping>

    <!--  访问 diary.jsp 前判断是否登录  -->
    <servlet>
        <servlet-name>jlDiary</servlet-name>
        <servlet-class>servlet.JudgeLoginDiaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jlDiary</servlet-name>
        <url-pattern>/JudgeLoginDiaryServlet</url-pattern>
    </servlet-mapping>

    <!--  前台展示 diary 数据  -->
    <servlet>
        <servlet-name>showDiary</servlet-name>
        <servlet-class>servlet.ShowDiaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showDiary</servlet-name>
        <url-pattern>/ShowDiaryServlet</url-pattern>
    </servlet-mapping>

    <!--  向数据库中插入 diary 数据  -->
    <servlet>
        <servlet-name>insertDiary</servlet-name>
        <servlet-class>servlet.InsertDiaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertDiary</servlet-name>
        <url-pattern>/InsertDiaryServlet</url-pattern>
    </servlet-mapping>

    <!--  根据 id 删除 diary 数据  -->
    <servlet>
        <servlet-name>deleteDiary</servlet-name>
        <servlet-class>servlet.DeleteDiaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteDiary</servlet-name>
        <url-pattern>/DeleteDiaryServlet</url-pattern>
    </servlet-mapping>

    <!--  根据 id 修改 diary 数据  -->
    <servlet>
        <servlet-name>reviseDiary</servlet-name>
        <servlet-class>servlet.ReviseDiaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reviseDiary</servlet-name>
        <url-pattern>/ReviseDiaryServlet</url-pattern>
    </servlet-mapping>

    <!--  判断是不是管理员  -->
    <servlet>
        <servlet-name>checkAdminServlet</servlet-name>
        <servlet-class>servlet.CheckAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkAdminServlet</servlet-name>
        <url-pattern>/CheckAdminServlet</url-pattern>
    </servlet-mapping>

    <!--  过滤器实现管理员登录验证，登录之后定向选择页面，index.jsp 或 admin.jsp  -->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/check_admin</url-pattern>
    </filter-mapping>

    <!--  过滤器实现用户登录验证  -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/IndexServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/ShowDiaryServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/ShowEventServlet</url-pattern>
    </filter-mapping>
</web-app>