/* 引入网络字体: Poppins */
@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    /* 初始化 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 设置字体 */
    font-family: "Poppins";
}
body {
    /* 100%窗口高度 */
    min-height: 100vh;
    min-width: 100vw;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #f1dea1;
}
/* 给背景增加两个渐变圆 */
body::before {
    content: "";
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    /* 渐变背景 */
    background: rgba(255, 255, 255, 0.5);
    /* 将元素剪切为一个圆形 [30%表示圆的直径] [right 70%表示圆心位置] */
    clip-path: circle(30% at right 70%);
}
body::after {
    content: "";
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    /* 渐变背景 */
    background: rgba(255, 255, 255, 0.5);
    /* 将元素剪切为一个圆形 [20%表示圆的直径] [10% 10%表示圆心位置] */
    clip-path: circle(20% at 10% 10%);
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 1;
}
.container .card {
    /* 相对定位 */
    position: relative;
    width: 280px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    /* 溢出隐藏 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /* 背景模糊 */
    backdrop-filter: blur(5px);
}
.container .card .content a {
    padding: 20px;
    /* 默认下移+隐藏 */
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content a {
    /* 鼠标移入，上移+显示 */
    transform: translateY(0);
    opacity: 1;
}
.container .card .content .del {
    padding: 20px;
    /* 默认下移+隐藏 */
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content .del {
    /* 鼠标移入，上移+显示 */
    transform: translateY(0);
    opacity: 1;
}
.container .card h3 {
    font-size: 28px;
    color: #000;
}
.container .card p {
    font-size: 16px;
    color: #000;
    font-weight: 300;
    margin: 10px 0 15px 0;
}
.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container .card .content .del {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container2 {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
}
.homebtn {
    /* 相对定位 */
    position: relative;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1) url(../images/homebtn.png);
    background-size: 80px;
    margin: 13px 63px 13px auto;
    border-radius: 10px;
    z-index: 1;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
    box-shadow: 13px 13px 30px rgba(0, 0, 0, 0.5);
    /* 溢出隐藏 */
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0px;
    border-bottom: 0px;
    /* 背景模糊 */
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.addbtn {
    /* 相对定位 */
    position: relative;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1) url(../images/addbtn.png);
    background-size: 80px;
    margin: 13px 63px 13px auto;
    border-radius: 10px;
    z-index: 1;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
    box-shadow: 13px 13px 30px rgba(0, 0, 0, 0.5);
    /* 溢出隐藏 */
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0px;
    border-bottom: 0px;
    /* 背景模糊 */
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.inputext {
    width: 72px;
    height: 30px;
    text-indent: 1em;
    font-size: 16px;
    background-color: white;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    margin: 12px auto;
}
.inputextarea {
    width: 520px;
    height: 300px;
    padding: 1em;
    font-size: 16px;
    border: 1px solid #ddd;
    outline: none;
    margin: 12px auto;
}
.closebtn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.savebtn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}